@page "/"

@inject ApplicationDbContext dbcontext

<PageTitle>Index</PageTitle>

<h1>Hello, world !</h1>

Welcome to your new app.
@if (datas != null)
{
    @foreach (var item in datas)
    {
        <h1>@item.Name</h1>
    }
}
<SurveyPrompt Title="How is Blazor working  well for you?" />


@code {
    List<Student> datas;
    protected override void OnInitialized()
    {
        datas = dbcontext.Students.ToList();
        StateHasChanged();
    }


}

